<template>
  <div id="top-nav-cont">
    <div id="top-nav-search"></div>
    <nav id="top-nav-links">
    <EdiitIcon contentId="content/components/menu.md" />
      <RenderMarkdown v-bind:content="content" />
    </nav>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

import EdiitIcon from "../../components/EditIcon.vue";
import RenderMarkdown from "../../components/RenderMarkerdown.vue";

export default {
  name: "TopNav",
  components: {
    EdiitIcon,
    RenderMarkdown
  },
  computed: {
    menu() {
      return this.$store.getters.getMatterById("content/components/menu.md");
    },
    content: function() {
      let content = "";
      try {
        content = this.menu.content;
      } catch (error) {
        content = "";
      }
      return content;
    }
  }
};
</script>

<style scoped>
#top-nav-cont {
  padding: 32px 64px 0 64px;
}
.DarkTheme .top-nav {
  background-color: rgba(51, 51, 51, 1);
  color: rgb(242, 242, 242);
}
#top-nav-cont {
  display: none;
}
@media only screen and (min-width: 961px) {
  #top-nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding: 32px 64px 0 16px;
  }
  #top-nav-links,
  #top-nav-links >>> ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #top-nav-cont >>> li {
    list-style: none;
    margin: 0 0 0 16px;
    font-size: 14px;
    font-weight: 600;
  }
}
</style>

