<template>
  <nav id="side-nav">
    <EdiitIcon contentId="content/components/docs-menu.md" />
    <RenderMarkdown v-bind:content="content" />
  </nav>
</template>

<script>
import { mapMutations } from "vuex";

import EdiitIcon from "../../components/EditIcon.vue";
import RenderMarkdown from "../../components/RenderMarkerdown.vue";

export default {
  name: "SideNav",
  components: {
    EdiitIcon,
    RenderMarkdown
  },
  props: {},
    computed: {
    menu() {
      return this.$store.getters.getMatterById("content/components/docs-menu.md");
    },
    content: function() {
      let content = "";
      try {
        content = this.menu.content;
      } catch (error) {
        content = "";
      }
      return content;
    }
  },
  methods: {}
};
</script>

<style scoped>
@media only screen and (min-width: 961px) {
  #side-nav {
    padding: 8px 0 0 0;
  }
  #side-nav >>> ul {
    padding: 0;
    margin: 0;
  }
  #side-nav >>> li {
    list-style: none;
    cursor: pointer;
  }
  #side-nav >>> a {
    display: none;
    list-style: none;
    padding: 0 0 0 8px;
    margin: 0 0 4px 0;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  #side-nav >>> a:first-child {
    display: block;
  }
  #side-nav >>> .is-active {
    font-weight: bold;
    border-left: 2px solid rgba(237, 30, 121, 1)!important;
  }
  #side-nav >>> .is-active ~a {
    display: block;
    margin: 0 0 4px 16px;
  }
}
</style>


