<template>
  <section class="section-blocks">
    <div class="block">
      <EditIcon contentId='content/components/block1.md'/>
      <h2>{{title1}}</h2>
      <RenderMarkdown v-bind:content="content1" />
    </div>
    <div class="block">
      <EditIcon contentId='content/components/block2.md'/>
      <h2>{{title2}}</h2>
      <RenderMarkdown v-bind:content="content2" />
    </div>
    <div class="block">
      <EditIcon contentId='content/components/block3.md'/>
      <h2>{{title3}}</h2>
      <RenderMarkdown v-bind:content="content3" />
    </div>
  </section>
</template>

<script>
import FM from "front-matter";

import EditIcon from '../components/EditIcon.vue'
import RenderMarkdown from "../components/RenderMarkerdown.vue";

export default {
  name: "Blocks",
  components: {
    EditIcon,
    RenderMarkdown
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {
    matter1() {
      return this.$store.getters.getMatterById("content/components/block1.md");
    },
    matter2() {
      return this.$store.getters.getMatterById("content/components/block2.md");
    },
    matter3() {
      return this.$store.getters.getMatterById("content/components/block3.md");
    },
    title1: function() {
      let title;
      try {
        title = this.matter1.frontmatter.fields.title.value;
      } catch (error) {
        title = "";
      }
      return title;
    },
    content1: function() {
      let content = "";
      try {
        content = this.matter1.content;
      } catch (error) {
        content = "";
      }
      return content;
    },
    title2: function() {
      let title;
      try {
        title = this.matter2.frontmatter.fields.title.value;
      } catch (error) {
        title = "";
      }
      return title;
    },
    content2: function() {
      let content = "";
      try {
        content = this.matter2.content;
      } catch (error) {
        content = "";
      }
      return content;
    },
    title3: function() {
      let title;
      try {
        title = this.matter3.frontmatter.fields.title.value;
      } catch (error) {
        title = "";
      }
      return title;
    },
    content3: function() {
      let content = "";
      try {
        content = this.matter3.content;
      } catch (error) {
        content = "";
      }
      return content;
    }
  }
};
</script>

<style scoped>
.section-blocks {
  padding: 64px;
}
.block {
  padding: 0 0 64px 0;
}
.block:last-child {
  padding: 0 0 0 0;
}
@media only screen and (min-width: 961px) {
  .section-blocks {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 128px 64px 128px 64px;
    display: flex;
    justify-content: space-between;
  }
  .block {
    padding: 0 80px 0 0;
    flex-basis: 33%;
  }
  .block:last-child {
    padding: 0 0 0 0;
  }
}
</style>