<template>
  <button class="button-secondary" v-on:click="onClick">
    {{label}}
  </button>
</template>

<script>

export default {
  name: "ButtonSecondary",
  props: {
    label: {
      type: String,
      required: false,
      default: ""
    },
    onClick: {
      type: Function,
      default: () => {}
    },
  }
};
</script>

<style scoped>
  .button-secondary {
    width: 100%;
    padding: 8px 36px 8px 36px;
    text-align: center;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid rgb(51, 51, 51);
    background: none;
    outline: none;
    cursor: pointer;
    color: rgb(51, 51, 51);
    font-weight: 600;
  }
  @media only screen and (min-width: 961px) {
    .button-secondary {
      width: fit-content;
    }
  }
  .DarkTheme .button-secondary {
    border: 1px solid rgb(204, 204, 204);
    color: rgb(204, 204, 204);
  }
</style>