<template>
  <button class="button-primary" v-on:click="onClick">
    {{label}}
  </button>
</template>

<script>

export default {
  name: "ButtonPrimary",
  props: {
    label: {
      type: String,
      required: false,
      default: ""
    },
    onClick: {
      type: Function,
      default: () => {}
    },
  },
};
</script>

<style scoped>
  .button-primary {
    width: 100%;
    padding: 0 36px 0 36px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    border-radius: 100px;
    background-color: rgba(237, 30, 121, 1);
    outline: none;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  @media only screen and (min-width: 961px) {
    .button-primary {
      width: fit-content;
    }
  }
</style>