<template>
  <button 
    id="edit-icon"
    v-bind:data-jambalaya="contentId"
    v-if="isEditing"
  >
    <Pencil />
  </button>
</template>

<script>
import FM from "front-matter";
import { mapState } from "vuex";

import RenderMarkdown from "../components/RenderMarkerdown.vue";
import Pencil from "../components/Pencil.vue";

export default {
  name: "EditIcon",
  components: {
    Pencil
  },
  props: {
    contentId: {
      type: String,
      required: true,
      default: ""
    },
  },
  computed: {
    ...mapState(["isEditing"])
  },
};
</script>

<style scoped>
#edit-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  margin: 0 0 8px 0;
  background-color: rgba(237, 30, 121, 0);
  border: 1px solid rgba(128, 128, 128, 0.1);
  fill: rgba(77, 77, 77, 1);
  stroke: rgba(77, 77, 77, 1);
  cursor: pointer;
  outline: none;
}
.DarkTheme #edit-icon {
  fill: rgba(255, 255, 255, .8);
  stroke: rgba(255, 255, 255, .8);
}
#edit-icon:hover {
  background-color: rgba(237, 30, 121, 0.8);
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
}
#edit-icon svg {
  pointer-events: none;
}
</style>