<template>
  <footer class="jamfoot" id="footer">
    <div class="logo">
      <EditIcon v-bind:contentId="id" />
      <img src="/img/jambalaya_logo_dark.svg" />
    </div>
    <div class="footer-wrap">
      <div class="info">
        <div class="newsletter">
          <h3>Subscribe to our newsletter</h3>
          <div class="signup">
            <input type="email" name="email" v-model="signUpEmail" v-bind:class="signUpStatus">
            <button-primary label="Subscribe" v-bind:onClick="onSignUp" v-if="signUpStatus !== 'loading'"/>
            <p v-else id="subscribeFormMessage" >Sending...</p>
          </div>
        </div>
      </div>
      <div class="content">
        <RenderMarkdown v-bind:content="content" styleClass="flex flex-wrap" />
      </div>
    </div>
    <div class="legal">{{copywrite}}</div>
  </footer>
</template>

<script>
import ButtonPrimary from "../components/ButtonPrimary.vue";
import EditIcon from "../components/EditIcon.vue";
import RenderMarkdown from "../components/RenderMarkerdown.vue";

export default {
  name: "Footer",
  components: {
    ButtonPrimary,
    EditIcon,
    RenderMarkdown
  },
  props: {
    id: {
      type: String,
      required: true,
      default: "",
    }
  },
  data() {
    return {
      signUpEmail: "",
      signUpStatus: "",
    };
  },
  computed: {
    matter() {
      return this.$store.getters.getMatterById(this.id);
    },
    content: function() {
      let content = "";
      try {
        content = this.matter.content;
      } catch (error) {
        content = "";
      }
      return content;
    },
    copywrite: function() {
      let value = "";
      try {
        value = this.matter.frontmatter.fields.copywrite.value;
      } catch (error) {
        value = "";
      }
      return value;
    },
  },
  methods: {
    onSignUp: function() {
      if (this.signUpEmail.length > 4 && this.signUpEmail.includes("@")) {
        this.signUpStatus = 'loading';
        this.processForm();
      } else {
        this.signUpStatus = 'formError';
      }
    },
    processForm: function() {
      const data = new FormData();
      data.append('email', this.signUpEmail);
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "https://formspree.io/xeqrvdvd");
      xhr.setRequestHeader("Accept", "application/json");
      xhr.onreadystatechange = () => {
        if (xhr.readyState !== XMLHttpRequest.DONE) return;
        if (xhr.status === 200) {
          this.signUpStatus = '';
          this.signUpEmail = '';
        } else {          
          this.signUpStatus = 'formError';
        }
      };
      xhr.send(data);
    }
  }
};
</script>

<style scoped>
#footer {
  margin: 256px 0 0 0;
  background-color: rgb(51, 51, 51);
  color: rgba(255, 255, 255, 0.6);
  padding: 64px 0 32px 0;
}
.footer-wrap {
  padding: 0 64px 0 64px;
  box-sizing: border-box;
}
.content {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .content {
  display: flex;
}
.info {
  padding: 0 0 32px 0;
}
.logo {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  padding: 0 64px 16px 64px;
}
.logo img {
  width: 36px;
  margin: 0;
}
.newsletter p {
  font-size: 12px;
}
.signup {
  padding: 0 0 16px 0;
}
.signup input {
  width: 100%;
  height: 36px;
  background-color: rgb(51, 51, 51);
  color: rgba(255, 255, 255);
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  outline: none;
  padding: 0 16px 0 16px;
  margin: 0 0 16px 0;
}
#subscribeFormMessage {
  line-height: 36px;
  padding: 0 32px 0 32px;
  font-weight: 600;
  font-size: 14px;
}
.legal {
  margin: 128px 0 0 0;
  font-size: 12px;
  text-align: center;
}
#edit-icon {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 961px) {
  .footer-wrap {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .info {
    flex-grow: 0;
    flex-shrink: 0;
    width: 480px;
    padding: 0;
  }
  .content {
    justify-content: left;
    padding: 0 32px 0 0;
  }
  .signup {
    display: flex;
    padding: 0 0 16px 0;
  }
  .signup input {
    margin: 0 16px 0 0;
    flex-grow: 1;
  }
}
</style>

<style >
#footer ul {
  width: 192px;
  margin: 0;
}
#footer li {
  list-style: none;
  margin: 0 0 8px 0;
}
#footer li:first-child,
.jamfoot h3 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  margin: 16px 0 16px 0;
  font-size: 16px;
}
@media only screen and (min-width: 961px) {
  .jamfoot ul {
    width: 160px;
  }
}
.formError {
  border: 1px solid rgba(255, 100, 100, .6)!important;
}
</style>