<template>
  <section class="hero">
    <div class="hero-wrap">
      <EditIcon v-bind:contentId='id'/>
      <h1>{{title}}</h1>
      <RenderMarkdown v-bind:content="content" />
      <div class="cta">
        <router-link to='/docs/getting-started/'>
          <button-primary label='Get started' />
        </router-link>
          <button-secondary label='See demo' v-bind:onClick="onSecondary"/>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations } from 'vuex';
import { loadJambalayaEditor } from "../jam/jam";
import RenderMarkdown from "../components/RenderMarkerdown.vue";
import ButtonPrimary from '../components/ButtonPrimary.vue';
import ButtonSecondary from '../components/ButtonSecondary.vue';
import EditIcon from '../components/EditIcon';

export default {
  name: "Hero",
  components: {
    ButtonPrimary,
    ButtonSecondary,
    EditIcon,
    RenderMarkdown,
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ""
    },
  },
  computed: {
    matter () {
        return this.$store.getters.getMatterById(this.id);
    },
    title: function () {
      let title;
      try {
        title = this.matter.frontmatter.fields.herotitle.value;
      } catch (error) {
        title = ''
      }
      return title;
    },
    content: function () {
      let content = ''
      try {
        content = this.matter.content;
      } catch (error) {
        content = ''
      }
      return content
    },
  },
  methods: {
    ...mapMutations([
      'toggleEdit'
    ]),
    onSecondary: function () {
      loadJambalayaEditor();
      this.toggleEdit();
    },
  },
};
</script>

<style scoped>
  .hero-wrap {
    display: block;
    padding: 64px 64px 64px 64px;
  }
  .cta {
    padding: 32px 0 0 0;
  }
  .cta .button-secondary {
      margin: 16px 0 0 0;
  }
  @media only screen and (min-width: 961px) {
    .hero {
      background-color: rgba(128, 128, 128, 0);
    }
    .hero-wrap {
      margin: 0 auto 0 auto;
      max-width: 1280px;
      padding: 160px 256px 128px 64px;
    }
    .hero-wrap h1 {
      max-width: 640px;
    }
    .cta {
      display: flex;
    }
    .cta .button-secondary {
      margin: 0 0 0 16px;
    }
  }
</style>