<template>
  <div id="logo">
    <a href="/">
    <img src="/img/jambalaya_logo_dark.svg" v-if="theme === 'Dark'" />
    <img src="/img/jambalaya_logo.svg" v-else />
    {{title}}
    </a>
  </div>
</template>

<script>
export default {
  name: "Logo",
  props: {
    title: {
      type: String,
      required: false,
      default: ""
    },
    theme: {
      type: String,
      required: false,
      default: 'Light'
    }
  },
};
</script>

<style scoped>
#logo a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 16px 0 0;
}
#logo img {
  width: 32px;
  margin: 0 16px 0 0;
}
@media only screen and (min-width: 961px) {
  #logo img {
    width: 36px;
    margin: 0 16px 0 0;
  }
  #edit-icon {
    margin-left: auto !important;
    margin-top: 8px;
  }
}
</style>

