<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g fill="none">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M17.54,10.12l-3.66,-3.66"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M6.251,21h-3.251v-3.251c0,-0.265 0.105,-0.52 0.293,-0.707l13.334,-13.335c0.391,-0.391 1.024,-0.391 1.414,-8.88178e-16l2.251,2.251c0.391,0.391 0.391,1.024 0,1.414l-13.334,13.335c-0.187,0.188 -0.442,0.293 -0.707,0.293Z"
      />
    </g>
  </svg>
</template>