<template>
    <div v-on:click="handleClicks" id="RenderMarkdown" v-bind:class="styleClass" v-html="marked"></div>
</template>

<script>
import marked from "marked";

export default {
  name: "RenderMarkdown",
  components: {},
  props: {
    content: {
      type: String,
      required: false,
      default: ""
    },
    styleClass: {
      type: String,
      required: false,
      default: ""
    }
  },
  data() {
    return {
      isEditing: false,
      options: {}
    };
  },
  computed: {
    marked: function() {
      var render = new marked.Renderer();
      let activePath = 'no path';
      if (this.$page) {
        activePath = this.$page.path;
      }
      render.link = function(href, title, text) {
        let activeAtt = '';
        if (activePath === href || activePath === `${href}/`) {
          activeAtt = 'class="is-active"';
        }
        let titleAtt = ''
        if (title) {
          titleAtt=`title=${title}`
        }
        return `<a ${titleAtt} href="${href}" ${activeAtt}>${text}</a>`;
      };

      return marked(this.content, {renderer: render});
    }
  },
  methods: {
    handleClicks(event) {
      // ensure we use the link, in case the click has been received by a subelement
      let { target } = event;
      while (target && target.tagName !== "A") target = target.parentNode;
      // handle only links that occur inside the component and do not reference external resources
      if (
        target &&
        target.matches("#RenderMarkdown a:not([href*='://'])") &&
        target.href
      ) {
        // some sanity checks taken from vue-router:
        // https://github.com/vuejs/vue-router/blob/dev/src/components/link.js#L106
        const {
          altKey,
          ctrlKey,
          metaKey,
          shiftKey,
          button,
          defaultPrevented
        } = event;
        // don't handle with control keys
        if (metaKey || altKey || ctrlKey || shiftKey) return;
        // don't handle when preventDefault called
        if (defaultPrevented) return;
        // don't handle right clicks
        if (button !== undefined && button !== 0) return;
        // don't handle if `target="_blank"`
        if (target && target.getAttribute) {
          const linkTarget = target.getAttribute("target");
          if (/\b_blank\b/i.test(linkTarget)) return;
        }
        // don't handle same page links/anchors
        const url = new URL(target.href);
        const to = url.pathname;
        if (event.preventDefault) {
          event.preventDefault();
          if (
            window.location.pathname === to ||
            window.location.pathname === `${to}/`
          ) {
            if(url.hash) {
              window.scrollTo(0, 0);
              location.hash = url.hash;
            } else {
              window.scrollTo(0, 0);
              location.hash = '';
            }

          } else {
            this.$router.push({ path: to }).catch(err => {
              //TODO Handle error
            });
          }
        }
      }
    }
  }
};
</script>

<style scoped>
.markdown {
  margin: 0;
}
</style>