<template>
  <section
    class="section-background"
    v-bind:class="align === 'Right' ? 'section-background-reverse' : ''"
    v-bind:style="background"
  >
    <div class="section-wrap">
      <EditIcon v-bind:contentId="id" />
      <h2>{{title}}</h2>
      <div class="section-content">
        <div>
          <RenderMarkdown v-bind:content="content" />
          <a v-bind:href="ctaUrl">
            <button-secondary v-if="cta.length > 0" v-bind:label="cta" />
          </a>
        </div>
        <div class="section-img">
          <img v-bind:src="img" v-bind:alt="alt" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FM from "front-matter";

import ButtonSecondary from "../components/ButtonSecondary.vue";
import EditIcon from "./EditIcon.vue";
import RenderMarkdown from "../components/RenderMarkerdown.vue";

export default {
  name: "SectionBackground",
  components: {
    ButtonSecondary,
    EditIcon,
    RenderMarkdown
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {
    matter() {
      return this.$store.getters.getMatterById(this.id);
    },
    title: function() {
      let title;
      try {
        title = this.matter.frontmatter.fields.title.value;
      } catch (error) {
        title = "";
      }
      return title;
    },
    content: function() {
      let content = "";
      try {
        content = this.matter.content;
      } catch (error) {
        content = "";
      }
      return content;
    },
    img: function() {
      let img = "";
      try {
        img = this.matter.frontmatter.fields.image.value;
      } catch (error) {
        img = "";
      }
      return img;
    },
    alt: function() {
      let alt = "";
      try {
        alt = this.matter.frontmatter.fields.alt.value;
      } catch (error) {
        alt = "";
      }
      return alt;
    },
    background: function() {
      let value = "";
      try {
        value = this.matter.frontmatter.fields.background.value;
      } catch (error) {
        value = "";
      }
      return `background-image: url(${value})`;
    },
    align: function() {
      let value = "";
      try {
        value = this.matter.frontmatter.fields.align.value;
      } catch (error) {
        value = "";
      }
      return value;
    },
    cta: function() {
      let value = "";
      try {
        value = this.matter.frontmatter.fields.cta.value;
      } catch (error) {
        value = "";
      }
      return value;
    },
    ctaUrl: function() {
      let value = "";
      try {
        value = this.matter.frontmatter.fields.ctaurl.value;
      } catch (error) {
        value = "";
      }
      return value;
    }
  },
};
</script>

<style scoped>
.section-background {
  padding: 48px 0 48px 0;
  background-repeat: no-repeat;
  background-size: 128px;
}
.section-background-reverse {
  background-position: 100% 50%;
}
.section-background-reverse {
  flex-direction: row-reverse;
}
.section-background h2 {
  padding: 0 64px 0 64px;
  margin-top: 0;
}
.section-content {
  padding: 0 64px 0 64px;
}
.section-background .button-secondary {
  margin: 16px 0 0 0;
}
.section-img {
  display: none;
}
@media only screen and (min-width: 961px) {
  .section-background {
    padding: 160px 0 160px 0;
    background-size: contain;
    background-position: 0 50%;
  }
  .section-background-reverse {
    background-position: 100% 50%;
  }
  .section-wrap {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 192px;
  }
  .section-background h2 {
    padding: 0 192px 0 0;
  }
  #edit-icon {
    margin: 0 192px 8px 0;
  }
  .section-content {
    display: flex;
    align-items: flex-start;
    padding: 0;
  }
  .section-img {
    display: block;
    width: 256px;
    height: 256px;
    padding: 0 64px 0 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .section-img img {
    display: block;
    max-height: 67vh;
  }
  .section-background-reverse .section-wrap {
    padding: 0 256px 0 0;
  }
  .section-background-reverse h2 {
    padding: 0 0 0 256px;
  }
  .section-background-reverse #edit-icon {
    margin: 0 0 8px 256px;
  }
  .section-background-reverse .section-content {
    flex-direction: row-reverse;
  }
}
</style>
