<template>
   <section 
    class='section-single'
    v-bind:class="[
      align === 'Left' ? 'section-left' : '',
      align === 'Center' ? 'section-center' : '',
      align === 'Right' ? 'section-right' : '',
    ]"
   >
      <EditIcon v-bind:contentId='id'/>
      <h2>{{title}}</h2>
       <RenderMarkdown v-bind:content="content"/>
   </section>
</template>

<script>
import FM from 'front-matter';

import EditIcon from '../components/EditIcon.vue';
import RenderMarkdown from '../components/RenderMarkerdown.vue';

export default {
  name: 'SectionSingle',
  components: {
    EditIcon,
    RenderMarkdown,
  },
  props: {
    id: {
        type: String,
        required: false,
        default: ''
    },
  },
  computed: {
    matter () {
        return this.$store.getters.getMatterById(this.id);
    },
    title: function () {
      let title;
      try {
        title = this.matter.frontmatter.fields.title.value;
      } catch (error) {
        title = ''
      }
      return title;
    },
    content: function () {
      let content = ''
      try {
        content = this.matter.content;
      } catch (error) {
        content = ''
      }
      return content
    },
    align: function () {
      let align = ''
      try {
        align = this.matter.frontmatter.fields.align.value;
      } catch (error) {
        align = ''
      }
      return align
    }
  }
}
</script>

<style scoped>
  .section-single {
    padding: 64px;
  }
  .section-right {
    text-align: right;
  }
  .section-center {
    text-align: center;
  }
  @media only screen and (min-width: 961px) {
    .section-single {
      max-width: 1280px;
      margin: 0 auto 0 auto;
      padding: 128px 64px 128px 64px;
    }
  }
</style>