<template>
   <section
    class='section-double'
    v-bind:class="align === 'Left' ? 'section-reverse' : ''"
    >
      <div class='section-content'>
        <EditIcon v-bind:contentId='id'/>
        <h2>{{title}}</h2>
        <RenderMarkdown v-bind:content="content"/>
      </div>
      <div class='section-img'>
        <img v-bind:src="img" v-bind:alt="alt" />
      </div>
    </section>
</template>

<script>
import FM from 'front-matter';

import EditIcon from './EditIcon.vue';
import RenderMarkdown from '../components/RenderMarkerdown.vue';

export default {
  name: 'SectionSingle',
  components: {
    EditIcon,
    RenderMarkdown,
  },
  props: {
    id: {
        type: String,
        required: false,
        default: ''
    },
  },
  computed: {
    matter () {
        return this.$store.getters.getMatterById(this.id);
    },
    title: function () {
      let title;
      try {
        title = this.matter.frontmatter.fields.title.value;
      } catch (error) {
        title = ''
      }
      return title;
    },
    content: function () {
      let content = ''
      try {
        content = this.matter.content;
      } catch (error) {
        content = ''
      }
      return content
    },
    img: function () {
      let img = ''
      try {
        img = this.matter.frontmatter.fields.image.value;
      } catch (error) {
        img = ''
      }
      return img
    },
    alt: function () {
      let alt = ''
      try {
        alt = this.matter.frontmatter.fields.alt.value;
      } catch (error) {
        alt = ''
      }
      return alt
    },
    align: function () {
      let value = ''
      try {
        value = this.matter.frontmatter.fields.align.value;
      } catch (error) {
        value = ''
      }
      return value
    }
  }
}
</script>

<style scoped>
  .section-double {
    padding: 48px 0 48px 0;
  }
  .section-reverse {
    flex-direction: row-reverse;
  }
  .section-content {
    padding: 64px;
  }
  .section-img {
    width: 100%;
  }
  .section-img img {
    width: 200%;
  }
  @media only screen and (min-width: 961px) {
    .section-double {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 1280px;
      margin: 0 auto 0 auto;
      padding: 128px 64px 0 64px;
    }
    .section-content {
      max-width: 640px;
      flex-grow: 0;
      padding: 0 32px 0 0;
    }
    .section-content h2 {
      padding-top: 0;
    }
    .section-img {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .section-img img{
      display: block;
      max-height: 67vh;
    }
    .section-reverse {
      flex-direction: row-reverse;
    }
    .section-reverse img {
      margin-left: auto;
    }
    .section-reverse .section-content {
      padding: 0 0 0 32px;
    }
  }
</style>
