<template>
  <nav id="top-nav">
    <div class="top-nav-cont">
      <Logo v-bind:title="title" v-bind:theme="theme" />
      <EdiitIcon contentId="content/components/menu.md" />
      <div class="links">
        <RenderMarkdown v-bind:content="content" />
      </div>
    </div>
  </nav>
</template>

<script>
import { mapMutations } from "vuex";

import EdiitIcon from "../components/EditIcon.vue";
import Logo from "./Logo.vue";
import RenderMarkdown from "../components/RenderMarkerdown.vue";

export default {
  name: "TopNav",
  components: {
    EdiitIcon,
    Logo,
    RenderMarkdown,
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ""
    }
  },
  computed: {
    matter() {
      return this.$store.getters.getMatterById(this.id);
    },
    theme: function() {
      let theme;
      try {
        theme = this.matter.frontmatter.fields.theme.value;
      } catch (error) {
        theme = "Light";
      }
      return theme;
    },
    title: function() {
      let title;
      try {
        title = this.matter.frontmatter.fields.title.value;
      } catch (error) {
        title = "";
      }
      return title;
    },
    menu() {
      return this.$store.getters.getMatterById("content/components/menu.md");
    },
    content: function() {
      let content = "";
      try {
        content = this.menu.content;
      } catch (error) {
        content = "";
      }
      return content;
    }
  },
  methods: {
    ...mapMutations(["toggleEdit"])
  }
};
</script>

<style scoped>
#top-nav {
  padding: 32px 64px 0 64px;
}
.DarkTheme .top-nav {
  background-color: rgba(51, 51, 51, 1);
  color: rgb(242, 242, 242);
}
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 16px 0 0;
}
.logo img {
  width: 32px;
  margin: 0 16px 0 0;
}
@media only screen and (min-width: 961px) {
  #top-nav {
    padding: 96px 0 0 0;
  }
  .top-nav-cont {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 64px 0 64px;
  }
  .logo img {
    width: 36px;
    margin: 0 16px 0 0;
  }
  #edit-icon {
    margin-left: auto !important;
    margin-top: 8px;
  }
}
</style>

<style>
#top-nav ul {
  display: none;
}
@media only screen and (min-width: 961px) {
  #top-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
  }
  #top-nav li {
    list-style: none;
    margin: 0 0 0 16px;
    font-size: 14px;
    font-weight: 600;
  }
}
</style>
