<template>
  <div
    class="pageWrap"
    v-bind:class="[
      theme === 'Dark' ? 'DarkTheme' : 'LightTheme',
      isEditing  ? 'Editing' : ''
    ]"
  >
    <Home v-if="layout === 'Home'" v-bind:pageId="id" v-bind:content="content"  />
    <Docs v-else-if="layout === 'Docs'" v-bind:pageId="id" v-bind:content="content" />
    <Default v-else-if="hasContent" v-bind:pageId="id" v-bind:content="content" />
    <Four v-else/>

    <button v-on:click="onToggleEdit" class="editButton" v-bind:class="isEditing ? 'btnedit' : ''">
      <close v-if="isEditing" />
      <pencil v-else />
    </button>

    <div id="jamwrapper" v-bind:class="isEditing ? 'editorOpen' : 'editorClosed'">
      <div id="jambalaya" data-config="/jam.json" v-bind:data-edit="isEditing"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import { loadJambalayaEditor } from "../jam/jam";
//import "../jam/components/jambalaya-editor";

import Close from "../components/Close.vue";
import Default from "./views/Default.vue";
import Docs from "./views/Docs.vue";
import EditIcon from "../components/EditIcon.vue";
import Four from "./views/404.vue";
import Home from "./views/Home.vue";
import Pencil from "../components/Pencil.vue";

export default {
  name: "Layout",
  components: {
    Close,
    Default,
    Docs,
    EditIcon,
    Four,
    Home,
    Pencil
  },
  data() {
    return {
      id: ""
    };
  },
  computed: {
    ...mapState(["isEditing"]),
    matter() {
      return this.$store.getters.getMatterById(this.id);
    },
    layout: function() {
      let layout;
      try {
        layout = this.matter.frontmatter.fields.layout.value;
      } catch (error) {
        layout = "none";
      }
      return layout;
    },
    theme: function() {
      let theme;
      try {
        theme = this.matter.frontmatter.fields.theme.value;
      } catch (error) {
        theme = "Light";
      }
      return theme;
    },
    hasContent: function() {
      let hasContent;
      try {
        hasContent = this.matter.hasContent;
      } catch (error) {
        hasContent = false;
      }
      return hasContent;
    },
    content: function() {
      let content = "";
      try {
        content = this.matter.content;
      } catch (error) {
        content = "";
      }
      return content;
    }
  },
  serverPrefetch () {
    //Needed for SSR
    this.id = this.$page.frontmatter.id;
  },

  mounted() {
    if (typeof document !== "undefined") {
      if (this.$page.frontmatter.id) {
        this.id = this.$page.frontmatter.id;
      } else {
        this.id = `content/pages${window.location.pathname}.md`;
      }
      if (this.isEditing) {
        loadJambalayaEditor();
      }
      document.addEventListener("jambalaya-event", this.onJambalayaEvent);
    }
  },
  beforeDestroy() {
    if (typeof document !== "undefined") {
      document.removeEventListener("jambalaya-event", this.onJambalayaEvent);
    }
  },
  watch: {
    $page(page) {
      if (this.$page.frontmatter.id) {
        this.id = this.$page.frontmatter.id;
      }
    }
  },
  methods: {
    ...mapMutations(["initSite", "onEditUpdate", "toggleEdit"]),
    onJambalayaEvent: function(e) {
      this.onEditUpdate(e.detail);
    },
    onToggleEdit: function() {
      loadJambalayaEditor();
      this.toggleEdit();
    }
  }
};
</script>

<style >
body {
  margin: 0;
}
.DarkTheme {
  color: rgba(242, 242, 242);
  background-color: rgba(0, 0, 0, 0.8);
}
.editButton {
  display: none;
}
.editorOpen {
  display: none;
}
.editorClosed {
  display: none;
}
#jamwrapper, #jambalaya {
  background-color: rgb(26, 26, 26);
}
@media only screen and (min-width: 961px) {
  .editButton {
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    border: 1px solid rgba(128, 128, 128, .8);
    background-color: rgba(237, 30, 121, 0);
    outline: none;
    fill: rgba(128, 128, 128, 1);
    stroke: rgba(128, 128, 128, 1);
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
    z-index: 999;
  }
  .editButton:hover {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    background-color: rgba(237, 30, 121, 0.95);
  }
  .DarkTheme .editButton:hover {
    border: 1px solid rgba(128, 128, 128, 0);
  }
  .btnedit {
    right: 496px;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.1);
  }
  .Editing {
    margin: 0 480px 0 0;
  }
  .editorOpen {
    display: block;
  }
  .editorClosed {
    display: none;
  }
}
</style>
