<template>
  <div class="pageWrap">
    <div>
      <div id="jam-auth-info">
        <div class="logo">
          <img src="/img/jambalaya_logo.svg" />
          Jambalaya
        </div>
        <h1>Copy this token into your application to finish the authorization process.</h1>
        <input type="text" id="token" name="token" v-bind:value="authCode" v-on:keydown.prevent="">
        <br />
        <button-primary label='Copy token' v-bind:onClick="onClick"/>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonPrimary from '../components/ButtonPrimary.vue';

export default {
  name: "Oauth",
  components: {
    ButtonPrimary,
  },
  data() {
    return {
      authCode: '',
      hash: ''
    };
  },
  mounted () {
    const url = window.location;
    const hash = url.hash
    const params = hash.split('&')
    params.forEach(item => {
      if (item.includes("access_token=")) {
        let code = item.replace("#access_token=","");
        this.authCode = code
      }
    })
  },
  methods: {
    onClick: function() {
      var copyText = document.getElementById("token");
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");
    }
  }
};
</script>

<style scoped>
body {
  margin: 0;
}
.pageWrap {
  margin: 0 auto 0 auto;
  padding: 0 128px 0 128px;
  min-height: 80vh;
  max-width: 1280px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 32px 0;
}
.logo img {
  width: 32px;
  margin: 0 16px 0 0;
}
h1 {
  font-size: 32px;
}
#jam-auth-info {
  padding: 64px;
  border-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 1);
  outline: none;
  margin: 64px 0 0 0;
}
#jam-auth-info input {
  color: rgba(52, 52, 52, 1);;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  max-width: 480px;
  text-overflow: ellipsis;
  margin: 0px 0 32px 0;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 1);
  background-color: rgba(128, 128, 128, .06);
  outline: none;
}
@media only screen and (min-width: 961px) {
  .logo img {
    width: 36px;
    margin: 0 16px 0 0;
  }
  #jam-auth-info input {
    width: 60%;
  }
}
</style>