<template>
  <div>
    <top-nav id="content/pages/index.md"></top-nav>
    <div id="page404">
        <h1>404</h1>
        <h2>Looks like we have a broken link...</h2>
        <a href="/">
          <button-primary label="Return to main page" />
        </a>
    </div>
  </div>
</template>

<script>
import ButtonPrimary from "../../components/ButtonPrimary.vue";
import TopNav from "../../components/TopNav.vue";

export default {
  name: "fourohfourView",
  components: {
    ButtonPrimary,
    TopNav
  }
};
</script>

<style scoped>
#page404 {
  margin: 0 auto 0 auto;
  padding: 64px 64px 0 64px;
  min-height: 100vh;
  max-width: 1280px;
}
#page404 h1 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 64px;
  padding: 0;
}
.DarkTheme #page404 h1 {
  color: rgba(255, 255, 255, .4);
}
#page404 h2 {
  font-size: 32px;
  padding: 0 0 32px 0;
}
#page404 .data {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 32px 0;
  color: rgb(102, 102, 102);
}
@media only screen and (min-width: 961px) {

}
</style>