<template>
  <div>
    <top-nav id="content/pages/index.md"></top-nav>
    <div id="page-main-content">
      <EditIcon v-bind:contentId="pageId" />
      <RenderMarkdown v-bind:content="content" />
    </div>
    <Footer id="content/components/footer.md" />
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";

import EditIcon from "../../components/EditIcon.vue";
import Footer from "../../components/Footer.vue";
import RenderMarkdown from "../../components/RenderMarkerdown.vue";
import TopNav from "../../components/TopNav.vue";

export default {
  name: "DefaultView",
  components: {
    EditIcon,
    Footer,
    RenderMarkdown,
    TopNav
  },
  props: {
    pageId: {
      type: String,
      default: ""
    },
    content: {
      type: String,
      default: ""
    }
  },
};
</script>

<style scoped>
#page-main-content {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  padding: 64px 64px 0 64px;
  min-height: 60vh;
}
</style>