<template>
  <div id="docs">
    <div id="docs-nav">
      <div id="logo-cont">
        <Logo title="Jambalaya" />
      </div>
      <side-nav />
    </div>

    <div id="page-main">
      <top-nav />
      <div id="page-mian-content">
        <EditIcon v-bind:contentId="pageId" />
        <RenderMarkdown v-bind:content="content" />
      </div>
    </div>
  </div>
</template>

<script>
import EditIcon from "../../components/EditIcon.vue";
import Logo from "../../components/Logo.vue";
import RenderMarkdown from "../../components/RenderMarkerdown.vue";
import SideNav from "../../components/docs/SideNav.vue";
import TopNav from "../../components/docs/DocsTopNav.vue";

export default {
  name: "DocsView",
  components: {
    EditIcon,
    Logo,
    RenderMarkdown,
    SideNav,
    TopNav
  },
  props: {
    pageId: {
      type: String,
      default: ""
    },
    content: {
      type: String,
      default: ""
    }
  }
};
</script>

<style >
@import "../../styles/docs.styl";
#docs {
  margin: 0;
}
#page-main {
  margin: 64px 64px 0 64px;
}
#docs-nav {
  display: none;
  background-color: rgb(255, 255, 255);
}
@media only screen and (min-width: 961px) {
  #docs {
    margin: 0 320px 0 320px;
  }
  .Editing #docs {
    margin: 0 auto 0 320px;
  }
  #page-main {
    max-width: 960px;
    margin: 0 auto 0 auto;
  }
  #docs-nav {
    display: block;
    position: fixed;
    left: 0;
    width: 320px;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    padding: 0 16px 32px 48px;
  }
  #logo-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 128px;
    padding: 0 0 0 8px;
  }
  #page-mian-content {
    padding: 0 64px 32px 64px;
  }
  #page-links {
    display: none;
    position: fixed;
    left: 50%;
    margin-left: 578px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 256px;
    padding: 128px 0 0 0;
  }
  #page-links ul {
    padding: 0;
    margin: 0;
  }
  #page-links li {
    list-style: none;
    padding: 0 0 0 8px;
    margin: 0 0 4px 0;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1600px) {
  #docs {
    margin: 0 auto 0 320px;
  }
  #page-main {
    margin: 0 auto 0 0;
  }
}
</style>