<template>
  <div id="homePage">
    <top-nav id="content/pages/index.md"></top-nav>
    <Hero id="content/pages/index.md" />
    <blocks />
    <section-background id="content/components/section1.md" />
    <section-single id="content/components/section2.md" />
    <section-background id="content/components/section3.md" />
    <section-single id="content/components/section4.md" />
    <Footer id="content/components/footer.md" />
  </div>
</template>

<script>
import Blocks from "../../components/Blocks.vue";
import Footer from "../../components/Footer.vue";
import Hero from "../../components/Hero.vue";
import Pencil from "../../components/Pencil.vue";
import SectionBackground from "../../components/SectionBackground.vue";
import SectionSingle from "../../components/SectionSingle.vue";
import TopNav from "../../components/TopNav.vue";

export default {
  name: "HomeView",
  components: {
    Blocks,
    Footer,
    Hero,
    Pencil,
    SectionSingle,
    SectionBackground,
    TopNav,
  },
};
</script>

<style >
@media only screen and (min-width: 961px) {
  #homePage {
    background-image: url(/img/dot.svg);
    background-position: 100% 0;
    background-size: 33%;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1920px) {
  #homePage {
    background-size: 640px;
  }
}
</style>